<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
    <%- include('partials/navbar', {page: '/lego/sets'}) %>

    <!-- Hero Section -->
    <div class="container mx-auto p-4">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="text-center hero-content">
          <div class="max-w-md">
            <h1 class="text-4xl font-bold">Collection</h1>
            <p class="text-lg mt-4">
              Browse the entire collection. Click the theme to filter by themes such as:
              <a href="/lego/sets?theme=Technic" class="btn btn-primary btn-xs">Technic</a>
              <a href="/lego/sets?theme=Classic Town" class="btn btn-primary btn-xs">Classic Town</a>
              <a href="/lego/sets?theme=Books" class="btn btn-primary btn-xs">Books</a>
              <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-xs">Basic Set</a>
            </p>
          </div>
        </div>
      </div>
      <br>
      
      <div class="overflow-x-auto overflow-y-hidden">
        <table class="table table-zebra">
          <!-- head -->
          <tbody>
            <% sets.forEach((data) => { %>
              <tr>
                <td>
                  <div class="avatar">
                    <div class="w-32 h-32 rounded-lg bg-transparent bg-no-repeat bg-cover " style="background-image: url('<%= data.img_url %>');"></div>
                  </div>
                </td>
                <td>
                  <%= data.name %> | <a href="/lego/sets?theme=<%= data.theme %>" class="btn  mt-2 btn-xs"><%= data.theme %></a>
                </td>
                <td><span class="font-bold">Year: </span> <%= data.year %> - <span class="font-bold">Parts:</span> <%= data.num_parts %></td>
                <th>
                  <a href="/lego/sets/<%= data.set_num %>" class="btn btn-xs">details</a>
                </th>
              </tr>
            <% }) %>
              
          </tbody>
        </table>
      </div>
    </div>

</body>
</html>